@import '../../../styles/placeholders.scss';
@import '../../../styles/mixins.scss';
@import '../../../styles/button.scss';

.game {
  @include flex(space-between, center, column);

  // gap: 6.5%;
  height: calc(100vh - 110px);
  padding: 20px;
}

.game-results {
  @extend %blurred-background;

  display: grid;
  grid-template-rows: repeat(10, 1fr);
  width: 90%;
  height: 70%;
}

.game-results-row {
  @include flex(center, center);
}

.game-results-item {
  @include flex(center, center);

  flex-grow: 1;
  height: 100%;
  padding: 10px;
  border: 1px solid #000;
}

.words {
  @extend %blurred-background;

  @include flex(stretch, center);

  width: 90%;
  height: 7%;
}
