.game {
  @include flex(space-between, center, column);

  height: calc(100vh - 110px);
  padding: 20px;
}

.game-results {
  @extend %blurred-background;

  display: grid;
  grid-template-rows: repeat(10, 1fr);
  gap: 1px;

  width: 90%;
  height: 60%;
}

.game-results-row {
  @include flex(center, center);

  gap: 1px;
}

.words {
  @extend %blurred-background;

  @include flex(stretch, center);

  gap: 1px;
  width: 90%;
  height: 6%;
}

.buttons {
  @include flex(center, center);

  column-gap: 20px;
}

.translation-row {
  @include font(2vw, 700, 1.2);

  height: 7%;
}

.game-hints {
  @include flex(flex-end, center);

  gap: 15px;
  width: 95%;
  height: 40px;
}

.button-sound {
  @extend %transition;

  @include media-hover {
    &:not([disabled]):hover {
      filter: drop-shadow(2px 3px 5px var(--color-primary-bright));
    }
  }

  width: 50px;
  height: 100%;
  margin-right: calc(50vw - 170px);

  background: center no-repeat transparent url('../../../img/audio.svg');
  background-size: contain;

  &_hidden {
    display: none;
  }

  &_shaking {
    animation: shake 0.3s infinite;
  }
}
