.game {
  @include flex(space-between, center, column);

  height: calc(100vh - 110px);
  padding: 10px;
}

.game-results {
  @extend %blurred-background;

  display: grid;
  grid-template-rows: repeat(10, 1fr);
  row-gap: 1px;

  width: 90%;
  height: calc(60% + 9px);

  &_hidden {
    animation: disappear 0.5s ease-in-out;
    animation-fill-mode: forwards;
  }

  &_start {
    background: none !important;
  }
}

.game-results-row {
  @include flex(center, center);

  gap: 1px;
  color: var(--color-black);

  .game-results_hidden & {
    animation: hide 0.5s ease-in-out;
    animation-fill-mode: forwards;
  }
}

.words {
  @extend %blurred-background;

  @include flex(space-between, center);

  width: 95%;
  height: calc(6% + 20px);
  padding: 10px;
  border-radius: 10px;
}

.buttons {
  @include flex(center, center);

  column-gap: 20px;
}

.translation-row {
  @include font(1.6vw, 700, 1.2);

  height: 5%;

  &_info {
    @include flex(center, center);

    padding: 0 30px;

    background: rgb(0 0 0 / 10%);
    backdrop-filter: blur(15px);
    border: 1px solid var(--color-primary-light);
    border-radius: 10px;
  }
}

.game-hints {
  @include flex(space-between, center);

  gap: 15px;
  width: 95%;
  height: 40px;
}

.button-sound {
  @extend %transition;

  @include media-hover {
    &:not([disabled]):hover {
      filter: drop-shadow(2px 3px 5px var(--color-primary-bright));
    }
  }

  width: 50px;
  height: 100%;
  margin: 0 auto;

  background: center no-repeat transparent url('../../../img/audio.svg');
  background-size: contain;

  &_hidden {
    display: none;
  }

  &_shaking {
    animation: shake 0.3s infinite;
  }
}
