:root {
  --color-primary-bright: #c7625d;
  --color-invalid: #e8725e;
  --color-valid: #90f219;
  --color-white: #fff;
  --color-black: #000;
  --color-font-dark: #594046;
  --color-background-black-transparent: rgb(0 0 0 / 5%);
  --color-shadow-dark: rgb(0 0 0 / 40%);
  --color-primary-light: #d5acb4;
}

@keyframes change-button {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}

@keyframes shake {
  0% {
    transform: scale(0.95);
    opacity: 0.8;
  }

  25% {
    transform: scale(1);
    opacity: 0.6;
  }

  50% {
    transform: scale(1.05);
    opacity: 0.8;
  }

  75% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(0.95);
    opacity: 0.8;
  }
}

@keyframes appear {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

@keyframes disappear {
  0% {
    gap: 1px;
    color: var(--color-black);
  }

  100% {
    gap: 0;
    color: transparent;
  }
}

@keyframes hide {
  0% {
    gap: 1px;
    color: var(--color-black);
  }

  100% {
    display: none;
    gap: 0;
    color: transparent;
  }
}
