:root {
  --color-primary-bright: #c7625d;
  --color-invalid: #e8725e;
  --color-valid: #90f219;
  --color-white: #fff;
  --color-black: #000;
  --color-font-dark: #2a1e17;
  --color-background-black-transparent: rgb(0 0 0 / 5%);
  --color-shadow-dark: rgb(0 0 0 / 40%);
}
