@import 'normalize.css';
@import 'reset.css';
@import 'constants.css';
@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap';
@import 'styles.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: Roboto, sans-serif;
  font-size: 10px;
}

body {
  position: relative;
  background: center no-repeat url('./../img/5178019.jpg');

  /* background: center no-repeat url('./../img/5208314.jpg');
  background: center no-repeat url('./../img/v1053-020.jpg'); */
  background-size: cover;
}
