@import '../../styles/mixins.scss';
@import '../../styles/placeholders.scss';

.word-item {
  @include flex(center, center);
  @include font(2vw, 700, 1.2);

  height: 100%;
  color: var(--color-font-dark);
  border: 1px solid #000;

  .game-results-row &_valid {
    border: 2px solid var(--color-valid);
  }

  .game-results-row &_invalid {
    border: 2px solid var(--color-invalid);
  }

  .game-results-row_guessed & {
    pointer-events: none;
  }
}
